body {
  margin: auto;
}
#body {
  height: 100vh;
  background-color: rgba(68, 68, 74, 0.619);
  border-radius: 1%;
}
#body #box {
  height: 80vh;
  width: 500px;
  background-color: rgba(34, 34, 32, 0.973);
  border-radius: 20px;
  box-shadow: 10px 10px 20px;
}
#body {
  align-items: center;
  display: flex;
  justify-content: center;
}
#box {
  overflow: hidden;
}
#box img {
  width: 50px;
  height: 50px;
  float: left;
  margin-top: 45px;
  margin-left: 100px;
}
#box h2 {
  background: linear-gradient(rgb(231, 88, 120), rgb(46, 198, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 3px;
  -webkit-text-stroke: black;
  font-family: system-ui, -apple-system;
  float: left;
  margin-top: 57px;
  padding: 3px;
}
#box #text {
  caret-color: rgba(247, 3, 235, 0.881);
  padding: 30px;
  float: left;
  margin: 65px;
}
#box #text > p {
  padding-bottom: 40px;
  margin-bottom: 50px;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.link {
  position: relative;
  display: inline-block;
  color: rgb(46, 198, 255);
}
.link::before,
.link::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(174, 14, 232);
  transform: scaleX(0);
  transition: transform 0.25s;
}
.link::before {
  top: -3px;
  transform-origin: left;
}
.link::after {
  bottom: -3px;
  transform-origin: right;
}
.link:hover::before,
.link:hover::after {
  transform: scaleX(1);
}

#worst p {
  caret-color: rgba(250, 143, 12, 0.523);
  margin-top: 70vh;
  text-align: center;
  color: rgba(167, 153, 209, 0.608);
}
