body{
    background-color: rgb(51, 33, 33);
    margin: auto;
}
#nbar {
    background-color: rgb(82, 1, 82);
    height: 80px;
    margin-bottom: 8.9999px;
}
.left {
    float: left;
}
.right {
    float: right;
    text-align: center;
    margin-top: 20px;
}
.left img {
    height: 60px;
    float: left;
}
.left h2 {
    color: #f8f8f8;
    float: left;
}
.right a {
    color: #f8f8f8;
    text-decoration: none;
}
/* main body part */

#main-co {
    background-color: #e4e1e1;
    height: 300px;
    border: 1px solid #e4e1e1;
    margin-bottom: 8.9999px;
}
.boxes {
    background-color: #e4e1e1;
    height: 300px;
    border: 1px solid black;
    width: 32%;
    float: left;

}
.second {
    margin-left: 8.9999px;
}
.third {
    margin-left: 8.9999px;
}
div {
    padding: 6px;
}
