body {
  background-color: rgb(98, 178, 102);
  margin: auto;
  width: 100%;
}
#nbar {
  background-color: rgb(82, 1, 82);
  height: 80px;
  width: auto;
  margin-bottom: 8.9999px;
  padding: 6px;
}
.left {
  float: left;
}
.right {
  float: right;
  text-align: center;
  margin-top: 20px;
}
.left img {
  height: 60px;
  float: left;
}
.left h2 {
  color: #f8f8f8;
  float: left;
}
.right a {
  color: #f8f8f8;
  text-decoration: none;
}
/* main body part */
#main-co {
  background-color: #c35959;
  height: 300px;
  margin-bottom: 8.9999px;
  overflow: hidden;
  padding: 6px;
}
.boxes1,
.boxes2,
.boxes3 {
  background-color: #e4e1e1;
  height: 300px;
  width: 32.2%;
  float: right;
  padding: 5px;
}
.boxes2 {
  margin: 0px 9px 9px;
}
@media screen and (max-width: 1508px) {
  .boxes1,
  .boxes2,
  .boxes3 {
    background-color: #710f0f;
    width: 32.27%;
  }
}
